{% extends 'categories/base.html' %}
{% block content %}
<style type="text/css">
    a{
        color: #2B432E;
      }
      a:hover{
        color: #586C5B;
    }
    .bodyinside{
        margin-left: -20px;
        margin-right:-15px;
        background-color: #D9DCE1;
        padding:100px;
        margin-bottom: -25px;
      }
</style>
<div class="bodyinside">
    <h1>Check your inbox.</h1>
    <p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
</div>
{% endblock %}