
{% extends 'categories/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        a{
            color: #2B432E;
        }
        a:hover{
            color: #586C5B;
        }
    </style>
    <section id="cover">
        <div id="cover-caption">
            <div id="container" class="container">
                <div class="jumbotron jumbotron-fluid">
                    <div class="row">
                        <div class="col-sm-4 offset-sm-4 text-center">
                        <!-- if you want to remove the gray color then remove this jumbotron line below -->
                            <h1 class="display-4">Password change</h1>
                            <div class="info-form">
                                <p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <input class="btn btn-success" type="submit" value="Change my password">
                                </form>
                            </div>
                            <br>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}