{% extends "categories/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
 <style type="text/css">
        a{
            color: #2B432E;
          }
          a:hover{
            color: #586C5B;
        }
        .bodyinside{
            margin-left: -20px;
            margin-right:-15px;
            background-color: #D9DCE1;
            padding:100px;
            margin-bottom: -25px;
          }
    </style>
<div class="bodyinside">
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><h2 style="text-align:center;">Add a Product</h2></legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Add a new product</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
